body {
  overflow-x: hidden;
}

/* section 전체 */
section h2 {
  font-size: calc(100 / 16 * 1rem);
}

/* header */
header {
  background-color: #0E100F;
}
.logo {
  padding: calc(12 / 16 * 1rem);
  height: calc(48 / 16 * 1rem);
}
.logo a {
  display: inline-block;
  font-size: calc(28 / 16 * 1rem);
  font-weight: 800;
  color: #fff;
}

/* footer */
footer {
  padding: calc(100 / 16 * 1rem) 0;
  background-color: #0E100F;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calc(16 / 16 * 1rem);
}

/* section01 */
.section01 {
  background-color: #0E100F;
  position: static;
  height: calc(100vh - (48 / 16 * 1rem));
}
.section01 .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section01 .container > .textbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section01 .text01, 
.section01 .text02 {
  font-size: calc(100 / 16 * 1rem);
  color: #fff;
}
.section01 .text01 {
  padding: 0 calc(6 / 16 * 1rem);
  font-weight: 400;
  display: none;
}
.section01 .text02 {
  padding: 0 calc(6 / 16 * 1rem);
  font-weight: 400;
  display: none;
}
.section01 .text03 {
  text-align: center;
  color:#0E100F;
  font-size: calc(100 / 16 * 1rem);
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 calc(6 / 16 * 1rem);
}
.section01 .text03-active01 {
  background: #0E100F;
  color: #fff;
}
.section01 .text03-active02 {
  background: #fff;
  color: #0E100F;
}
.section01 .container.final .text01, 
.section01 .container.final .text02 {
  display: block;
}
.section01 .container.plain .text03 {
  background: transparent;
  color: #fff;
  padding: 0;
}
.section01 .container.columns .text03 {
  padding: 0;
  width: 100%;
  flex-basis: 1;
  display: block;
}
.section01 .container.columns .text03.text03-active01 {
  color: #fff;
  font-size: calc(120 / 16 * 1rem);
  width: 100%;
  background-color: transparent;
}
.section01 .container.columns .text03.text03-active02 {
  display: none;
}

/* section02 */
.section02 {
  background-color: #fff;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}
.section02 .project-top {
  width: 100%;
  padding: calc(20 / 16 * 1rem);
  color: #000;
}
.section02 .project-btm {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: visible;
  margin-top: calc(200 / 16 * 1rem);
}
.section02 .project-btm .box {
  position: relative;
  padding: 0 calc(20 / 16 * 1rem);
}
.section02 .project-btm .box img {
  max-width: calc(700 / 16 * 1rem);
  height: auto;
  display: block;
  border-radius: 20px;
  opacity: 0.8;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.10);
}
.section02 .project-btm .box .box-inner {
  position: absolute;
  bottom: 0;
  left: calc(20 / 16 * 1rem);
  width: calc(100% - (40 / 16 * 1rem));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(16 / 16 * 1rem);
  border-radius: 20px;
}
.section02 .project-btm .box .box-inner .chip {
  background-color: #0E100F;
  color: #fff;
  min-width: calc(180 / 16 * 1rem);
  height: calc(32 / 16 * 1rem);
  display: block;
  position: relative;
}
.section02 .project-btm .box .box-inner .chip span {
  padding: calc(6 / 16 * 1rem) calc(12 / 16 * 1rem);
  color: #0E100F;
  background-color: #fff;
  border: 1px solid #0E100F;
  font-size: calc(20 / 16 * 1rem);
  font-weight: 700;
  text-align: center;
  display: inline-block;
  min-width: calc(180 / 16 * 1rem);
  position: absolute;
  left: calc(10 / 16 * 1rem);
  bottom: calc(10 / 16 * 1rem);
}
.section02 .project-btm .box .box-inner .title {
  color: #fff;
  font-size: calc(36 / 16 * 1rem);
  font-weight: 700;
  line-height: calc(40 / 16 * 1rem);
  text-align: center;
}
.section02 .project-btm .box .box-inner .date {
  color: #fff;
  font-size: calc(24 / 16 * 1rem);
  line-height: calc(32 / 16 * 1rem);
  text-align: center;
}

/* section03 */
.section03 .accordion-list {
  display: flex;
  flex-direction: column;
}
.section03 .accordion-list .accordion-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;    
  overflow: hidden;
  padding: calc(28 / 16 * 1rem) calc(20 / 16 * 1rem) calc(20 / 16 * 1rem);
  border-bottom: 1px solid #0E100F;
  position: relative;
}
.section03 .accordion-list .accordion-item .accordion-tit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: calc(16 / 16 * 1rem);
  align-items: center;
}
.section03 .accordion-list .accordion-item .accordion-tit p {
  width: calc(100% - 24px);
  font-size: calc(36 / 16 * 1rem);                   
  font-weight: 800;
  text-align: left;
  word-break: keep-all;
}
.section03 .accordion-list .accordion-item .accordion-tit button {
  cursor: pointer;
  display: inline-flex;
  width: calc(24 / 16 * 1rem);  
  height: calc(24 / 16 * 1rem);
  transition: all 0.3s;
  background: url('../img/icon/plus_icon24_bl.png') no-repeat center;
  background-size: contain;
}
.section03 .accordion-list .accordion-item.is-active .accordion-tit button {
  background: url('../img/icon/minus_icon24_bl.png') no-repeat center;
  background-size: contain;
}
.section03 .accordion-list .accordion-item .accordion-content {
  height: 0;    
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 100%;
}
.section03 .accordion-list .accordion-item .accordion-content .detail-top {
  position: relative;
}
.section03 .accordion-list .accordion-item .accordion-content .detail-top p {
  font-size: calc(20 / 16 * 1rem);
  line-height: calc(20 / 16 * 1rem);            
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: calc(8 / 16 * 1rem);
}
.section03 .accordion-list .accordion-item .accordion-content .detail-tit {
  font-size: calc(24 / 16 * 1rem);
  line-height: calc(24 / 16 * 1rem);                      
  font-weight: 700;
}
.section03 .accordion-list .accordion-item .accordion-content .detail-top p + p {
  margin-top: calc(16 / 16 * 1rem);
}
.section03 .accordion-list .accordion-item .accordion-content .detail-btm {
  margin-top: calc(32 / 16 * 1rem);
  display: flex;
  flex-direction: column;
  gap: calc(12 / 16 * 1rem);
  position: relative;
  z-index: 1;
}
.section03 .accordion-list .accordion-item .accordion-content .detail-btm .techlist {
  display: flex;
  align-items: center;
  gap: calc(16 / 16 * 1rem);
}
.section03 .accordion-list .accordion-item .accordion-content .detail-btm .techchip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: calc(12 / 16 * 1rem);
  font-size: calc(20 / 16 * 1rem);
  border-radius: calc(20 / 16 * 1rem);
  border: 1px solid #0E100F;
  min-width: calc(100 / 16 * 1rem);
}
.section03 .accordion-list .accordion-item.is-active .accordion-content {
  display: block;    
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
  padding: calc(50 / 16 * 1rem) 0 calc(150 / 16 * 1rem);
}
.section03 .accordion-list .accordion-item:not(.is-active) .accordion-content .detail-num {
  opacity: 0;
}
.section03 .accordion-list .accordion-item.is-active .accordion-content .detail-num {
  position: absolute;
  bottom: 0;
  right: calc(6 / 16 * 1rem);
  font-size: calc(150 / 16 * 1rem);
  z-index: 0;
  color: #fff;
  -webkit-text-stroke: 3px #000;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  opacity: 0;
  animation: opacityEffect 0.5s ease-in forwards;
  animation-delay: 0.5s;
}

/* section04 */
.section04 {
  margin-top: calc(100 / 16 * 1rem);
}
.section04 .about-top {
  padding: 0 calc(20 / 16 * 1rem);
}
.section04 .about-btm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 calc(32 / 16 * 1rem);
  margin-top: calc(50 / 16 * 1rem);
}
.section04 .about-btm .imgbox {
  flex: 0 0 calc(200 / 16 * 1rem);
}
.section04 .about-btm .imgbox img {
  width: calc(200 / 16 * 1rem);
  height: calc(200 / 16 * 1rem);
  border-radius: 50%;
  display: block;
}
.section04 .about-btm .box {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 50%;
}
.section04 .about-btm .box > div {
  display: flex;
  flex-direction: column;
  gap: calc(4 / 16 * 1rem);
  flex: 0 0 50%;
}
.section04 .about-btm .box > div:not(:first-child,:nth-child(2)) {
  margin-top: calc(24 / 16 * 1rem);
}
.section04 .about-btm .box p:first-child {
  font-size: calc(20 / 16 * 1rem);
  font-weight: 700;
}
.section04 .about-btm .box p {
  font-size: calc(20 / 16 * 1rem);
  line-height: calc(24 / 16 * 1rem);
  font-weight: 400;
  word-break: break-all;
}

/* section05 */
.section05 {
  margin-top: calc(100 / 16 * 1rem);
  background-color: #0E100F;
  position: relative;
  overflow: hidden; 
}
.section05 p {
  font-size: calc(30 / 16 * 1rem);
  line-height: calc(36 / 16 * 1rem);
  font-weight: 400;
  color: #fff;
  padding: calc(20 / 16 * 1rem);
}
.section05 ol {
  padding: calc(20 / 16 * 1rem) 0;
  display: flex;
  align-items: center;
  gap: calc(16 / 16 * 1rem);
  white-space: nowrap; 
  animation: scrollEffect 30s linear infinite;
}
.section05 ol li {
  font-size: calc(30 / 16 * 1rem);
  line-height: calc(36 / 16 * 1rem);
  font-weight: 400;
  color: #fff;
}

@keyframes scrollEffect {
  0% { 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% { 
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes opacityEffect {
  0% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  section h2 {
    font-size: calc(40 / 16 * 1rem);
  }
  .section01 .text01, 
  .section01 .text02 {
    font-size: calc(40 / 16 * 1rem);
    padding: 0 calc(3 / 16 * 1rem);
  }
  .section01 .text03 {
    font-size: calc(40 / 16 * 1rem);
    padding: 0 calc(3 / 16 * 1rem);
  }
  .section01 .container.columns .text03.text03-active01 {
    font-size: calc(48 / 16 * 1rem);
  }
  .section02 {
    height: auto;
    position: relative;
    overflow-x: visible;
  }
  .section02 .project-top {
    width: 100%;
    padding: calc(16 / 16 * 1rem);
    font-size: calc(40 / 16 * 1rem);
  }
  .section02 .project-btm {
    display: flex;
    flex-direction: column;
    margin: calc(50 / 16 * 1rem) 0;
    gap: calc(32 / 16 * 1rem);
  }
  .section02 .project-btm .box {
    position: relative;
    padding: 0 calc(20 / 16 * 1rem);
  }
  .section02 .project-btm .box img {
    max-width: 100%;
  }
  .section02 .project-btm .box .box-inner .title {
    font-size: calc(24 / 16 * 1rem);
    line-height: calc(24 / 16 * 1rem);
  }
  .section02 .project-btm .box .box-inner .date {
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(20 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item {
    padding: calc(28 / 16 * 1rem) calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item .accordion-tit p {
    font-size: calc(28 / 16 * 1rem);                   
  }
  .section03 .accordion-list .accordion-item .accordion-content .detail-top p {
    font-size: calc(16 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item .accordion-content .detail-tit {
    font-size: calc(20 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item .accordion-content .detail-btm .techlist {
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(8 / 16 * 1rem);
    row-gap: calc(12 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item .accordion-content .detail-btm .techchip {
    font-size: calc(16 / 16 * 1rem);
    min-width: calc(78 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item.is-active .accordion-content {
    padding: calc(50 / 16 * 1rem) 0 calc(75 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item.is-active .accordion-content .detail-num {
    font-size: calc(75 / 16 * 1rem);
  }
  .section04 {
    margin-top: calc(50 / 16 * 1rem);
  }
  .section04 .about-top {
    padding:0 calc(16 / 16 * 1rem);
  }
  .section04 .about-btm {
    flex-direction: column;
    justify-content: center;
    padding: 0 calc(16 / 16 * 1rem);
    margin-top: calc(32 / 16 * 1rem);
  }
  .section04 .about-btm .box {
    margin-top: calc(32 / 16 * 1rem);
  }
  .section04 .about-btm .box p:first-child {
    font-size: calc(16 / 16 * 1rem);
  }
  .section04 .about-btm .box p {
    font-size: calc(14 / 16 * 1rem);
    line-height: calc(20 / 16 * 1rem);
  }
  .section05 p {
    padding: calc(16 / 16 * 1rem);
  }
}