body {
  overflow-x: hidden;
  color: #0E100F;
}
.only-mo {
  display: none;
}

/* total section */
section h2 {
  font-size: calc(100 / 16 * 1rem);
}

/* header */
header {
  background-color: #0E100F;
}
.logo {
  padding: calc(12 / 16 * 1rem);
  height: calc(48 / 16 * 1rem);
}
.logo a {
  display: inline-block;
  font-size: calc(28 / 16 * 1rem);
  font-weight: 800;
  color: #fff;
}

/* footer */
footer {
  padding: calc(100 / 16 * 1rem) 0;
  background-color: #fff;
  text-align: center;
  color: #0E100F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calc(16 / 16 * 1rem);
}

/* section01 */
.section01 {
  background-color: #0E100F;
  position: static;
  height: calc(100vh - (48 / 16 * 1rem));
}
.section01 .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section01 .container > .textbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section01 .text01, 
.section01 .text02 {
  font-size: calc(100 / 16 * 1rem);
  color: #fff;
}
.section01 .text01 {
  padding: 0 calc(6 / 16 * 1rem);
  font-weight: 400;
  display: none;
}
.section01 .text02 {
  padding: 0 calc(6 / 16 * 1rem);
  font-weight: 400;
  display: none;
}
.section01 .text03 {
  text-align: center;
  color:#0E100F;
  font-size: calc(100 / 16 * 1rem);
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 calc(6 / 16 * 1rem);
}
.section01 .text03-active01 {
  background: #0E100F;
  color: #fff;
}
.section01 .text03-active02 {
  background: #fff;
  color: #0E100F;
}
.section01 .container.final .text01, 
.section01 .container.final .text02 {
  display: block;
}
.section01 .container.plain .text03 {
  background: transparent;
  color: #fff;
  padding: 0;
}
.section01 .container.columns .text03 {
  padding: 0;
  width: 100%;
  flex-basis: 1;
  display: block;
}
.section01 .container.columns .text03.text03-active01 {
  color: #fff;
  font-size: calc(120 / 16 * 1rem);
  width: 100%;
  background-color: transparent;
}
.section01 .container.columns .text03.text03-active02 {
  display: none;
}

/* section02 */
.section02 {
  background-color: #fff;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.section02 .project-top {
  width: 100%;
  padding: calc(20 / 16 * 1rem);
  color: #000;
}
.section02 .project-btm {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: visible;
  height: calc(100vh - 140px);
  align-items: center;
}
.section02 .project-btm .box {
  position: relative;
  padding: 0 calc(20 / 16 * 1rem);
  height: calc(500 / 16 * 1rem);
}
.section02 .project-btm .box img {
  max-width: calc(700 / 16 * 1rem);
  height: auto;
  display: block;
  border-radius: 20px;
  opacity: 0.8;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.10);
}
.section02 .project-btm .box .box-inner {
  position: absolute;
  bottom: 0;
  left: calc(20 / 16 * 1rem);
  width: calc(100% - (40 / 16 * 1rem));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(16 / 16 * 1rem);
  border-radius: 20px;
}
.section02 .project-btm .box .box-inner .chip {
  background-color: #0E100F;
  color: #fff;
  min-width: calc(180 / 16 * 1rem);
  height: calc(32 / 16 * 1rem);
  display: block;
  position: relative;
}
.section02 .project-btm .box .box-inner .chip span {
  padding: calc(6 / 16 * 1rem) calc(12 / 16 * 1rem);
  color: #0E100F;
  background-color: #fff;
  border: 1px solid #0E100F;
  font-size: calc(20 / 16 * 1rem);
  font-weight: 700;
  text-align: center;
  display: inline-block;
  min-width: calc(180 / 16 * 1rem);
  position: absolute;
  left: calc(10 / 16 * 1rem);
  bottom: calc(10 / 16 * 1rem);
}
.section02 .project-btm .box .box-inner .title {
  color: #0E100F;
  font-size: calc(36 / 16 * 1rem);
  font-weight: 700;
  line-height: calc(40 / 16 * 1rem);
  text-align: center;
}
.section02 .project-btm .box .box-inner .date {
  color: #0E100F;
  font-size: calc(24 / 16 * 1rem);
  line-height: calc(32 / 16 * 1rem);
  text-align: center;
}

/* section03 */
.section03 {
  background-color: #0E100F;
}
.section03 .detail-title {
  font-size: calc(100 / 16 * 1rem);
  line-height: calc(100 / 16 * 1rem);
  font-weight: 700;
  color: #fff;
  word-break: break-all;
  margin-bottom: calc(50 / 16 * 1rem);
  padding: calc(30 / 16 * 1rem) calc(20 / 16 * 1rem) 0;
}
.section03 .accordion-list {
  display: flex;
  flex-direction: column;
  padding-bottom: calc(50 / 16 * 1rem);
}
.section03 .accordion-list .accordion-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;    
  overflow: hidden;
  padding: calc(32 / 16 * 1rem) calc(20 / 16 * 1rem);
  position: relative;
}
.section03 .accordion-list .accordion-item .accordion-tit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: calc(16 / 16 * 1rem);
  align-items: center;
}
.section03 .accordion-list .accordion-item .accordion-tit p {
  width: calc(100% - 24px);
  font-size: calc(36 / 16 * 1rem);                   
  font-weight: 800;
  color: #fff;
  text-align: left;
  word-break: keep-all;
}
.section03 .accordion-list .accordion-item .accordion-tit button {
  cursor: pointer;
  display: inline-flex;
  width: calc(32 / 16 * 1rem);  
  height: calc(32 / 16 * 1rem);
  transition: all 0.3s;
  background: url('../img/icon/plus_icon24_wh.png') no-repeat center;
  background-size: contain;
}
.section03 .accordion-list .accordion-item.is-active .accordion-tit button {
  background: url('../img/icon/minus_icon24_wh.png') no-repeat center;
  background-size: contain;
}
.section03 .accordion-list .accordion-item .accordion-content {
  height: 0;    
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 100%;
}
.section03 .accordion-list .accordion-item .accordion-content .detail-top {
  position: relative;
}
.section03 .accordion-list .accordion-item .accordion-content .detail-top p {
  font-size: calc(20 / 16 * 1rem);
  line-height: calc(20 / 16 * 1rem);            
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: calc(8 / 16 * 1rem);
}
.section03 .accordion-list .accordion-item .accordion-content .detail-tit {
  font-size: calc(24 / 16 * 1rem);
  line-height: calc(24 / 16 * 1rem);                      
  font-weight: 700;
  color: #fff;
}
.section03 .accordion-list .accordion-item .accordion-content .detail-top p + p {
  margin-top: calc(16 / 16 * 1rem);
}
.section03 .accordion-list .accordion-item .accordion-content .detail-btm {
  margin-top: calc(32 / 16 * 1rem);
  display: flex;
  flex-direction: column;
  gap: calc(12 / 16 * 1rem);
  position: relative;
  z-index: 1;
}
.section03 .accordion-list .accordion-item .accordion-content .detail-btm .techlist {
  display: flex;
  align-items: center;
  gap: calc(16 / 16 * 1rem);
}
.section03 .accordion-list .accordion-item .accordion-content .detail-btm .techchip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: calc(12 / 16 * 1rem);
  font-size: calc(20 / 16 * 1rem);
  border-radius: calc(20 / 16 * 1rem);
  border: 1px solid #fff;
  min-width: calc(100 / 16 * 1rem);
  color: #fff;
}
.section03 .accordion-list .accordion-item.is-active .accordion-content {
  display: block;    
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
  padding: calc(50 / 16 * 1rem) 0 calc(150 / 16 * 1rem);
}
.section03 .accordion-list .accordion-item:not(.is-active) .accordion-content .detail-num {
  opacity: 0;
}
.section03 .accordion-list .accordion-item.is-active .accordion-content .detail-num {
  position: absolute;
  bottom: 0;
  right: calc(6 / 16 * 1rem);
  font-size: calc(150 / 16 * 1rem);
  z-index: 0;
  color: #0E100F;
  -webkit-text-stroke: 1px #fff;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  opacity: 0;
  animation: opacityEffect 0.5s ease-in forwards;
  animation-delay: 0.5s;
}

/* section04 */
.section04 ol li {
  text-align: center;
  font-size: calc(80 / 16 * 1rem);
  font-weight: 800;
  line-height: calc(80 / 16 * 1rem);
  border-bottom: calc(16 / 16 * 1rem) solid #0E100F;
  height: calc(160 / 16 * 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section04.is-active ol li:first-child::before {
  position: absolute;
  content: '';
  display: block;
  width: calc(200 / 16 * 1rem);
  height: calc(200 / 16 * 1rem);
  border-radius: calc(100 / 16 * 1rem);
  background-color: #9AA6B2;
  left: 50%;
  bottom: -50%;
  transform: translateX(-50%);
  z-index: -1;
  animation: scaleEffect 2s infinite forwards;
}
.section04.is-active ol li:nth-child(3)::before {
  position: absolute;
  content: '';
  display: block;
  width: calc(200 / 16 * 1rem);
  height: calc(200 / 16 * 1rem);
  border-radius: calc(100 / 16 * 1rem);
  background-color: #D9EAFD;
  bottom: -50%;
  z-index: -1; 
  animation-delay: 2s;
  animation: leftMoveEffect 2s linear forwards;
}
.section04.is-active ol li:last-child::before {
  position: absolute;
  content: '';
  display: block;
  width: calc(200 / 16 * 1rem);
  height: calc(200 / 16 * 1rem);
  border-radius: calc(100 / 16 * 1rem);
  background-color: #BCCCDC;
  bottom: -50%;
  z-index: -1;
  animation-delay: 4s;
  animation: rightMoveEffect 2s linear forwards;
}

/* section05 */
.section05 {
  margin:calc(20 / 16 * 1rem) 0 calc(100 / 16 * 1rem);
}
.section05 .about-box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.section05 .about-box .box-each {
  width: 25%;
  position: relative;
  padding: calc(20 / 16 * 1rem);
  border-left: 1px solid #0E100F;
  min-height: calc(140 / 16 * 1rem);
}
.section05 .about-box .box-each::after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  width: calc(100% - 20px);
  left: calc(10 / 16 * 1rem);
  background-color: #0E100F;
  bottom: 0;
}
.section05 .about-box .box-each .each02 {
  margin-top: calc(12 / 16 * 1rem);
}
.section05 .about-box .box-each:first-child {
  width: 50%;
  border-left: 0;
}
.section05 .about-box .box-each:nth-child(4) {
  border-left: 0;
}
.section05 .about-box .each-tit {
  font-size: calc(14 / 16 * 1rem);
  line-height: calc(18 / 16 * 1rem);
}
.section05 .about-box .each-txt {
  font-size: calc(16 / 16 * 1rem);
  line-height: calc(20 / 16 * 1rem);
  margin-top: calc(4 / 16 * 1rem);
  word-break: break-all;
}
.section05 .about-box .each-txt + .each-txt {
  margin-top: calc(4 / 16 * 1rem);
} 
.section05 .about-box .each-txt02 {
  font-size: calc(14 / 16 * 1rem);
  line-height: calc(18 / 16 * 1rem);
  margin-top: calc(4 / 16 * 1rem);
}
.section05 .about-box .box-each:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section05 .about-box .box-each:last-child button {
  font-size: calc(24 / 16 * 1rem);
  line-height: calc(24 / 16 * 1rem);
  padding-right: calc(30 / 16 * 1rem);
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.section05 .about-box .box-each:last-child button::after {
  background: url('../img/icon/arrow_top_icon24_bl.png') no-repeat center;
  background-size: contain;
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  content: '';
  right: 0;
  position: absolute;
}
.section05 .about-box .box-each:last-child button:hover {
  transform: scale(1.5);
}
.section05 .about-box .box-each:last-child button:visited {
  transform: scale(1);
}

/* animation effect */
@keyframes scrollEffect {
  0% { 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% { 
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes opacityEffect {
  0% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}
@keyframes scaleEffect {
  0%,100% { 
    transform: translateX(-50%) scale(1);
  }
  60% { 
    transform: translateX(-50%) scale(1.5);
  }
}
@keyframes leftMoveEffect {
  0% { 
    left: 0;
    transform: translateX(0%) scale(1);

  }
  70% { 
    left: 70%;
    transform: translateX(-70%) scale(1.5);
  }
  100% { 
    left: 70%;
    transform: translateX(-70%) scale(1);
  }
}
@keyframes rightMoveEffect {
  0% { 
    right: 0;
    transform: translateX(0%) scale(1);
  }
  80% { 
    right: 55%;
    transform: translateX(-55%) scale(1.8);
  }
  100% { 
    right: 55%;
    transform: translateX(-55%) scale(0.8);
  }
}

/* responsive web (~ 767px) */
@media screen and (max-width: 767px) {
  .only-mo {
    display: block;
  }
  section h2 {
    font-size: calc(40 / 16 * 1rem);
  }

  /* footer */
  footer {
    padding: calc(50 / 16 * 1rem) 0;
  }

  /* section01 */
  .section01 .text01, 
  .section01 .text02 {
    font-size: calc(40 / 16 * 1rem);
    padding: 0 calc(3 / 16 * 1rem);
  }
  .section01 .text03 {
    font-size: calc(40 / 16 * 1rem);
    padding: 0 calc(3 / 16 * 1rem);
  }
  .section01 .container.columns .text03.text03-active01 {
    font-size: calc(48 / 16 * 1rem);
  }
  /* section02 */
  .section02 {
    height: auto;
    position: relative;
    overflow-x: visible;
  }
  .section02 .project-top {
    width: 100%;
    padding: calc(16 / 16 * 1rem);
    font-size: calc(40 / 16 * 1rem);
  }
  .section02 .project-btm {
    display: flex;
    flex-direction: column;
    gap: calc(32 / 16 * 1rem);
    height: auto;
    margin-bottom: calc(50 / 16 * 1rem);
  }
  .section02 .project-btm .box {
    position: relative;
    padding: 0 calc(20 / 16 * 1rem);
    height: auto;
  }
  .section02 .project-btm .box img {
    max-width: 100%;
  }
  .section02 .project-btm .box .box-inner .title {
    font-size: calc(24 / 16 * 1rem);
    line-height: calc(24 / 16 * 1rem);
  }
  .section02 .project-btm .box .box-inner .date {
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(20 / 16 * 1rem);
  }
  /* section03 */
  .section03 .detail-title {
    font-size: 11.2vw;
    line-height: 11.2vw;
    padding: calc(16 / 16 * 1rem) calc(16 / 16 * 1rem) 0;
    word-break: keep-all;
  }
  .section03 .accordion-list .accordion-item {
    padding: calc(28 / 16 * 1rem) calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item .accordion-tit p {
    font-size: calc(28 / 16 * 1rem);                   
  }
  .section03 .accordion-list .accordion-item .accordion-content .detail-top p {
    font-size: calc(16 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item .accordion-content .detail-tit {
    font-size: calc(20 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item .accordion-content .detail-btm .techlist {
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(8 / 16 * 1rem);
    row-gap: calc(12 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item .accordion-content .detail-btm .techchip {
    font-size: calc(16 / 16 * 1rem);
    min-width: calc(78 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item.is-active .accordion-content {
    padding: calc(50 / 16 * 1rem) 0 calc(75 / 16 * 1rem);
  }
  .section03 .accordion-list .accordion-item.is-active .accordion-content .detail-num {
    font-size: calc(75 / 16 * 1rem);
  }
  /* section04 */
  .section04 ol li {
    font-size: 11.2vw;
    line-height: 11.2vw;
    height: 21.3vw;
    padding: 0 calc(6 / 16 * 1rem);
  }
  .section04.is-active ol li:first-child::before {
    width: calc(80 / 16 * 1rem);
    height: calc(80 / 16 * 1rem);
    border-radius: calc(80 / 16 * 1rem);
  }
  .section04.is-active ol li:nth-child(3)::before {
    width: calc(80 / 16 * 1rem);
    height: calc(80 / 16 * 1rem);
    border-radius: calc(80 / 16 * 1rem);
  }
  .section04.is-active ol li:last-child::before {
    width: calc(80 / 16 * 1rem);
    height: calc(80 / 16 * 1rem);
  }
  /* section05 */
  .section05 {
    margin:calc(20 / 16 * 1rem) 0 calc(50 / 16 * 1rem);
  }
  .section05 .about-box .box-each:nth-child(3),
  .section05 .about-box .box-each:nth-child(4),
  .section05 .about-box .box-each:nth-child(7) {
    width: 45%;
  }
  .section05 .about-box .box-each:nth-child(2),
  .section05 .about-box .box-each:nth-child(5),
  .section05 .about-box .box-each:nth-child(6) {
    width: 55%;
    border-left: 0;
  }
  .section05 .about-box .box-each:nth-child(5) {
    border-left: 1px solid #0E100F;
  }
  .section05 .about-box .box-each:first-child {
    width: 100%;
    min-height: auto;
    padding: calc(16 / 16 *1rem);
  }
  .section05 .about-box .box-each::after {
    width: calc(100% - 10px);
    left: calc(5 / 16 * 1rem);
  }
  .section05 .about-box .box-each:last-child button {
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(16 / 16 * 1rem);
    padding-right: calc(24 / 16 * 1rem);
  }
  .section05 .about-box .box-each:last-child button::after {
    background: url('../img/icon/arrow_top_icon24_bl.png') no-repeat center;
    background-size: contain;
    width: calc(16 / 16 * 1rem);
    height: calc(16 / 16 * 1rem);
  }
}
